/* CSS for the board cells */
.cell {
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* CSS for the board container */
#board {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 240px;
    margin: 10px;
}

/* CSS for the letter buttons */
.cell button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}