/*
*********************************************
*                                           *
*                   body                    *
*                                           *
*********************************************
*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #4752C4;
    color: #fff;
    background-image: url('../img/background.png');
    background-size: 150%;
}

#word {
    display: none;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
}

#timer {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}

#resultaat {
    margin-top: 30px;
    text-align: center;
    font-size: 26px;
}

/*
*********************************************
*                                           *
*                   board                   *
*                                           *
*********************************************
*/

.cell {
    height: 80px;
    margin: 5px;
    width: 80px;
}

.letterButton {
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #2D5377;
    font-size: 45px;
    font-weight: bold;
    height: 80px;
    transition-duration: 0.2s;
    width: 80px;
    border: 0px solid #ccc;
    box-shadow: -2px -4px 8px rgb(255 255 255 / 60%), 2px 4px 8px rgb(0 0 0 / 30%);
    position: relative;
    text-transform: capitalize;
}

#woorden {
    max-width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 0px solid #ccc;
    height: 312px;
    width: auto;
    overflow-y: scroll;
    overflow: auto;
    padding: 15px;
    margin-left: auto;
    color: #2D5377;
    font-size: 24px;
    box-shadow: inset -2px -4px 8px #fff, inset 2px 3px 8px rgb(0 0 0 / 50%);
    margin-right: 50px;
}

#board {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bigboard {
    display: flex;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#timer {
    margin-bottom: 15px;
}

/*
*********************************************
*                                           *
*                   buttons                 *
*                                           *
*********************************************
*/

.pressed {
    box-shadow: inset -2px -4px 8px #fff, inset 2px 3px 8px rgb(0 0 0 / 50%);
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

#addWord, #undo {
    background-color: rgb(88, 101, 242);
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    height: 38px;
    line-height: 16px;
    min-height: 64px;
    min-width: 130px;
    outline: none;
    padding: 2px 16px;
    transition: background-color .17s ease, color .17s ease;
}

#addword:hover, #undo:hover {
    background-color: rgb(71, 82, 196);
}

#addWord:disabled, #undo:disabled {
    background-color: #105e9e;
}

#mode4x4, #mode3x3, #mode5x5 {
    background-color: rgb(88, 101, 242);
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    line-height: 16px;
    margin-bottom: 5px;
    min-height: 38px;
    min-width: 32px;
    outline: none;
    padding: 2px 16px;
    transition: background-color .17s ease, color .17s ease;
}

#mode4x4:hover, #mode3x3:hover, #mode5x5:hover{
    background-color: rgb(71, 82, 196);
}

.buttonmode{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

/*
*********************************************
*                                           *
*                   grid                    *
*                                           *
*********************************************
*/

.grid {
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    border: 0px solid #ccc;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: inset -2px -3px 8px #fff, inset 2px 3px 8px rgb(0 0 0 / 30%);
    max-width: 100%;
}

.grid3x3 {
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border: 0px solid #ccc;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: inset -2px -3px 8px #fff, inset 2px 3px 8px rgb(0 0 0 / 30%);
    max-width: 100%;
}

.grid5x5 {
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    border: 0px solid #ccc;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: inset -2px -3px 8px #fff, inset 2px 3px 8px rgb(0 0 0 / 30%);
    max-width: 100%;
}

.cell {
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board.grid {
    margin-right: -200px;
    margin-left: auto;
}

#board.grid3x3 {
    margin-right: -200px;
    margin-left: auto;
}

#board.grid5x5 {
    margin-right: -200px;
    margin-left: auto;
}

@media (max-width: 1000px) {
    #woorden {
        display: none;
    }

    #board {
        float: left;
        max-width: fit-content;
        margin-left: 0px;
        margin-right: auto;
    }

    #board.grid {
        margin-right: auto;
        margin-left: auto;
    }
}