/* CSS for the board cells */
.cell {
    height: 80px;
    margin: 5px;
    width: 80px;
}

/* CSS for the board container */
#board {
    background-color: #93CAED;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 360px;
    margin: 0 auto; /* Center the board horizontally */
    max-width: 100%; /* Ensure the board does not exceed the width of the page */
    width: 360px;
}  

/* CSS for the letter buttons */
.letterButton {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    color: #93CAED;
    font-size: 45px;
    font-weight: bold;
    height: 80px;
    transition-duration: 0.2s;
    width: 80px;
}

.letterButton::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgba(147, 202, 237, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}



.pressed {
    background-color: #EBECF0;
}

/* Title */
h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

/* Timer */
#timer {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

/* Buttons */
.buttons{
    text-align: center;
    margin-top: 50px;
}

#addWord, #undo {
    background-color: #2196F3;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

/* tekst onder buttons */
#word {
    display: none;
}
  
#resultaat {
    display: block;
    margin: 20px auto 0; /* Center the divs horizontally */
    text-align: center; /* Center the text inside the divs */
}

#woorden {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: lowercase;
    max-width: auto;
    height: 360px;
    min-width: 120px;
}

#bigboard{
    display: flex;
    margin-left: 30%;
    margin-right: 20%;
}